
name: Checkstyle with attempt at logging

on:
  pull_request:
    branches: [ master ]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v17.2
      - uses: raferg/checkstyle-action@master
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          checkstyle_config: .checkstyle/checkstyle.xml
          level: error
          fail_on_error: true
          filter_mode: added
          file_list: ${{ steps.changed-files.outputs.all_changed_files }}
